.main-content {
  margin-top: 2vw;
  margin-left: 12vw;
  margin-right: 12vw;
}

.button-container {
  text-align: center;
}

.main-title-text {
  margin: 1em;
  color: #03A9F4;
}

.nav-button {
  margin-left: 4px;
  margin-right: 4px;
}

.brand-name {
  color: red; 
  font-weight: bold;
}