.main-content {
  margin-top: 2vh;
  margin-left: 12vw;
  margin-right: 12vw;
  text-align: center;
}

.list-content {
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 4vh;
}

.main-title-text {
  margin: 1em;
  color: #03A9F4;
}

.nav-button {
  margin-left: 4px;
  margin-right: 4px;
}

.brand-name {
  color: red; 
  font-weight: bold;
}

.bluddit-form {
  margin: 1em;
}

.credentials-form-group {
  margin: 0 auto;
  width: 33%;
}

.create-post-jumbo {
  text-align: center;
}